#three-pumpkins1{
    position: absolute;
    width: 100px;
    height: 35px;
    top: 650px;
    left: 100px;
}
#three-pumpkins2{
    position: absolute;
    width: 100px;
    top: 650px;
    right: 100px;
}


